<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			           http://www.springframework.org/schema/context
			           http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:test.properties" />

    <bean id="studentBean" class="com.conan.service.TestSpring.StudentBean" init-method="myInit" destroy-method="myDestroy" scope="singleton">
        <property name="name" value="${studentBean.name}"></property>
        <property name="age" value="${studentBean.age}"></property>
    </bean>

    <bean id="teacherBean" class="com.conan.service.TestSpring.TeacherBean">
        <property name="name" value="conan"></property>
        <property name="age" value="26"></property>
        <property name="studentBean" ref="studentBean"></property>
    </bean>

    <!--配置Bean的后置处理器-->
    <bean id="beanPostProcessor" class="com.conan.service.TestSpring.MyBeanPostProcessor">
    </bean>

    <!--配置instantiationAwareBeanPostProcessor-->
    <bean id="instantiationAwareBeanPostProcessor" class="com.conan.service.TestSpring.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <!--配置BeanFactory的后置处理器-->
    <bean id="beanFactoryPostProcessor" class="com.conan.service.TestSpring.MyBeanFactoryPostProcessor">
    </bean>

</beans>
