<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			           http://www.springframework.org/schema/context
			           http://www.springframework.org/schema/context/spring-context.xsd
			           http://www.springframework.org/schema/aop
			           http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="commonService" class="com.conan.service.TestSpringAOP.CommonServiceImpl"></bean>

    <bean id="transactionHandler" class="com.conan.service.TestSpringAOP.TransactionHandler"></bean>

    <aop:config>
        <aop:aspect ref="transactionHandler">
            <aop:pointcut id="transactionMethod" expression="execution(* com.conan.service.TestSpringAOP.*.*(..))"/>
            <aop:before method="beginTransaction" pointcut-ref="transactionMethod" />
            <aop:after method="closeTransaction" pointcut-ref="transactionMethod" />
        </aop:aspect>
    </aop:config>

</beans>
